<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Print</title>
        <link
            rel="stylesheet"
            href="../node_modules/bootstrap/dist/css/bootstrap.min.css"
        />
        <link rel="stylesheet" href="printStyle.css" />
        <script src="../node_modules/vue/dist/vue.global.js"></script>
    </head>
    <body id="app">
        <div class="header primary">
            <div class="row d-flex justify-content-between">
                <div class="col-8">
                    <img src="kencosmetics.png" height="60px" />
                    <!-- <p>VAT #: 3876117-601</p> -->
                </div>
                <div class="col-4 text-end">
                    <p>
                        +961 81-07 00 55
                        <br />
                        https://kencosmetics.com
                        <br />
                        info&#64;kencosmetics.com
                    </p>
                </div>
            </div>

            <hr class="mt-0 pt-0 primary-hr" />

            <div class="row d-flex justify-content-between">
                <!-- <div class="col-6">
                    <p>
                        <strong>Statement for:</strong> {{ account.name }}
                        <br />
                        <strong>Financial #:</strong> {{
                        account.financial_number }}
                        <br />
                        <strong>Phone:</strong> {{ account.phone }}
                        <br />
                        <strong>Address:</strong> {{ account.address }}
                    </p>
                </div> -->

                <div class="col-6">
                    <h3>Auxiliary Statements</h3>
                    <p class="mb-0">
                        <strong>Start Date:</strong> {{ startDate }}
                    </p>
                    <p><strong>End Date:</strong> {{ endDate }}</p>
                </div>

                <br />
            </div>

            <table class="table table-sm text-center">
                <thead>
                    <tr>
                        <th>Account #</th>
                        <th>Name</th>
                        <th>End Debit</th>
                        <th>End Credit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(record, index) in data" :key="index">
                        <td>{{ record.partner_id_fk }}</td>
                        <td>{{ record.partner_name }}</td>

                        <td v-if="currency == 'USD'">
                            {{ formatCurrency(record.end_debit) }}
                        </td>
                        <td v-if="currency == 'USD'">
                            {{ formatCurrency(record.end_credit) }}
                        </td>

                        <td v-if="currency == 'LBP'">
                            {{ record.end_debit_lbp }} L.L
                        </td>
                        <td v-if="currency == 'LBP'">
                            {{ record.end_credit_lbp }} L.L
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <footer class="divFooter fixed">
            <img src="icon-250.png" style="opacity: 0.1" />
        </footer>

        <script>
            const { createApp, ref } = Vue;

            createApp({
                setup() {
                    const data = ref([]);
                    const currency = ref("");
                    const startDate = ref("");
                    const endDate = ref("");

                    const formatCurrency = (value) => {
                        return new Intl.NumberFormat("en-US", {
                            style: "currency",
                            currency: "USD",
                        }).format(value || 0);
                    };

                    if (window.electron) {
                        window.electron.print((event, incomingData) => {
                            data.value = incomingData[0];
                            currency.value = incomingData[1];
                            startDate.value = incomingData[2];
                            endDate.value = incomingData[3];
                            console.log(data.value);
                        });
                    }

                    return {
                        data,
                        currency,
                        startDate,
                        endDate,
                        formatCurrency,
                    };
                },
            }).mount("#app");
        </script>
    </body>
</html>
